{%extends 'main/layout.html' %}

{%block title%}
Об учреждении
{%endblock%}

{%block content%}
    
    <h3>Об учреждении БУЗ ВО «Воронежская городская клиническая больница N11»</h3>
    <hr></hr>

    <h4>Полное наименование:</h4>
    <p margin-left: 200px>Бюджетное учреждение здравоохранения Воронежской области "Воронежская городская клиническая больница №11" (сокращенное наименование: БУЗ ВО "ВГКБ №11")<br>ИНН: 3661011399, КПП: 366101001, ОГРН: 1023601562160, Лицензия № ЛО41-01136-36/00341104 от 26.02.2020 г. (бессрочно). Выдавший орган: министерство<br>здравоохранения Воронежской области (г Воронеж, ул. Красноармейская, д. 52Д, тел 212-61-79)
    </p>
    <h4>Место нахождения, включая обособленные структурные подразделения:</h4>

    <p>• Юридический адрес учреждения: 394042 г. Воронеж, Ленинский проспект, 134</p>

    <p>• Стационар БУЗ ВО "ВГКБ №11": 394011 г. Воронеж, п. Сомово, ул. Грузинская 39</p>

    <p>• Детская поликлиника № 5: 394042 г. Воронеж, Ленинский проспект 134</p>

    <p>• Отделение медицинской реабилитации "Солнце": 394063 г. Воронеж, ул. Зои Космодемьянской 19</p>

    <p>• Педиатрическое отделение на ст. Отрожка: 394010 г. Воронеж, ул. Артамонова 4 а</p>

    <p>• Поликлиника № 9: 394042 г. Воронеж, ул. Переверткина 16А</p>

    <p>• Отделение общей врачебной практики (семейной практики (Репное)) поликлиники № 9: 394094 г. Воронеж, п. Репное, ул. Тиханкина 103в</p>
        
    <p>• Поликлиника № 12: 394063 г. Воронеж, ул. З. Космодемьянской 17</p>

    <p>• Отделение общей врачебной практики (семейной практики (Минская д.69а)) поликлиники № 12: 394042 г. Воронеж, ул. Минская 69А</p>

    <p>• Центр здоровья: 394063 г. Воронеж, ул. Остужева 1</p>

    <p>• Районное отделение амбулаторной медицинской реабилитации: 394063 г. Воронеж, ул. Остужева 1</p>

    <p>• Выездная патронажная служба паллиативной медицинской помощи г. Воронеж, ул. Переверткина, 16а</p>

    <p>• Женская консультация ул. Переверткина, 41</p>

    <h4>Почтовый адрес:</h4>
    <p>394042 г. Воронеж, Ленинский проспект, д. 134</p>

    <h4>Схема проезда:</h4>
    <p>Проезд общественным транспортом по Ленинскому проспекту до остановки ул. Минская: автобусы №№ 14, 21, 22, 42, 43, 52, 60, 63, 72, 90, 106в,
<br>маршрутные такси №№ 1кв, 16, 18, 38, 312д, 313в, 361в, троллейбус № 11</p>


<h4>Дата государственной регистрации, сведения об учредителе:</h4>

<p>Дата государственной регистрации: 27.12.2012</p>


<p>Учредителем и собственником имущества Учреждения является Воронежская область. Полномочия учредителя от имени Воронежской области осуществляет <br>Министерство здравоохранения Воронежской области. Учреждение находится в ведомственном подчинении Министерства здравоохранения Воронежской области <br>394036 г.Воронеж, ул. Красноармейская д. 52д, тел./факс: (473) 212-61-79, e-mail: office@zdrav36.ru</p>
{%endblock%}