

{%extends 'main/layout.html' %}
{%load static%}
{%block title%}

Главная страница
{%endblock%}

{%block content%}
    <h3>БУЗ ВО "ВГКБ № 11"</h3>

    <hr></hr>

    <h4>Полное название учреждения:</h4>
    <p>Бюджетное учреждение здравоохранения Воронежской области "Воронежская городская клиническая больница № 11"</p>

    <img src="{%static 'main/img/photo1.jpg'%}" alt="y" width="450" height="350" class="image-float">

    <h4>Адрес:</h4>
    <p>394042, г. Воронеж, ул. Ленинский проспект, 134</p>

    <h4>Сайт:</h4>
    <p>https://gkb11.zdrav36.ru/</p>
    <h4>E-mail:</h4>

    <p>Официальная электронная почта:</p>
    <p>mail@gkb11.zdrav36.ru;</p>
    
    <p>Прием вызовов на дом по рабочим дням:</p>
    <p>vyzov.gkb11@yandex.ru</p>

<h5>Руководитель</h5>
<p class="p1">Ерохин Юрий Петрович</p>

<h5>Телефон:</h5>

<h5>122 - Единый номер, по вопросам, связанным с распространением COVID-19</h5>

<h5>Единые Call-центры:</h5>

<h5>Поликлиника № 9:</h5>
<p class="p1">+7 (473) 210-04-95;</p>
<p class="p1">+7 (473) 226-66-28</p>

<h5>Поликлиника № 12:</h5>
<p class="p1">+7 (473) 223-09-97</p>

<h5>Детская поликлиника № 5:</h5>
<p class="p1">+7 (473) 223-37-89;</p>
<p class="p1">+7 (473) 223-66-91 - вызов врача на дом;</p>

<h5>Педиатрическое отделение на ст. Отрожка:</h5>
<p class="p1">+7 (473) 226-16-59;</p>
<p class="p1">+7 (473) 210-06-95 - вызов врача на дом;</p>


    


{%endblock%}